/******************************************************************
Button Styles
*******************************************************************/

%btn {    border:1px solid; margin:0 5px 5px 0; display: inline-block; position: relative; text-decoration: none; color: $white; border-radius:2em; cursor: pointer; padding:.5em 1em 0.5em 1em; line-height: 1;  vertical-align:middle; font-weight: 600;
 &:hover,
 &:focus { color: $white; text-decoration: none; outline: none; } 
 &:active { } 
}

button, input[type="submit"], input[type="reset"], .Actions .action,
a.button { @extend %btn; color: $white; border-color: $green; background-color:$green; 

/*  &:after{ display:inline-block; width:0em; height:1em; margin-left:1em; vertical-align:middle;content:' '; background:url(../images/icons/scroll-right-ghost.svg) no-repeat 0% 50%; } */

 &:hover,
 &:focus,
&:active,&.active{ color: $white !important; background-color: $blue; border-color:$blue; } 
  &.outline{color:$green;}
 }


input[type="submit"], input[type="reset"], .Actions .action,
a.button.booking_but,
a.button.blue,
a.button.blue:visited{ 
 background-color: $green; border-color: $green;color:$white;display:inline-block;
 &:hover,
 &:focus { background-color: darken($green, 4%); border-color: darken($green, 4%);color:$white;  }            
 &:active { background-color: darken($green, 5%); border-color: darken($green, 4%); color:$white;}

 &.active{background-color: $green; border-color: $green; color:$white;}
                       
 }
                        
a.button.outline,
a.button.outline:visited { background: none;
 &:hover,
 &:focus { background: none; } 
 &:active { background: none; } 
 }

a.button.ghost,
a.button.ghost:visited { background: none; color: $white; border-color: $white;
 &:hover,
 &:focus { background: none; color: $white; } 
 &:active { background: none; } 
 }

.button_group { border-radius: 8px; overflow: hidden; font-size: 1.2em; margin-bottom: 2em !important;min-height:0 !important;
 a.button { line-height: 2.5; min-width:max-content; } 
 }

a.button.video_link,
a.button.video_link:visited { background: none; color: $white; padding-left:0; padding-top:0; padding-bottom:0; 
 &:after{display:none;}                    
 &:before{border-radius:50%; display:inline-block; width:2em; height:2em; margin-right:1em; vertical-align:middle;content:' '; background: #ffffff url(../images/icons/icon-video.svg) no-repeat 66% 50%; background-size: 1em;}
                             
 &:hover,
 &:focus { background: none; color: $white; } 
 &:active { background: none; } 
 }
