// .cms-sitename {
//   margin: 10px 0 8px;
//   border-bottom: none;
// }

// .cms-sitename__title {
//   background-image: url("https://d3rybewolc2qwa.cloudfront.net/library/images/logo-full.svg");
//   height: 70px;
//   width: 72px;
//   background-position: center;
//   background-size: cover;
//   color: transparent !important;
// }

#Menu-Maverick-PageAdmin-PageAdmin,
#Menu-Maverick-RegionAdmin {
  display: none;
}

.mce-content-body{
  .text-center{text-align:center;}
  .text-right{text-align:right;}
  }
  

  