/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family:$sans-serif;
  color:$blue;
}

/********************
BODY CLASSES
style a page via class
********************/

.rtl {}                           
.home {}                      
.blog {}                       
.archive {}                      


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
	}
}
/*
#PageContainer *{
	outline: 1px solid red; 
 
}

#PageContainer .wrap{ background-size:100%; background-image:url('../images/design/Northland_Website_Landing Page Neutral_v.04.jpg'); }
#PageContainer .wrap div{background:none;}
#PageContainer .bg-image, .videocontainer{
 opacity:.1;
 background-color:rgba(0,0,0,.1) !important;

}
*/

.layout_wrap{
  background:$white url(../images/textures/texture-main.png) no-repeat top center; background-size:100%;
}






/* Other
----------------------------- */


:marker{display:none;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.nomtop{margin-top:0 !important;}
.nop{padding:0 !important;}
.inline{display:inline-block !important;}
.center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.center{text-align:center;}
.uppercase{text-transform:uppercase;}
.h-align{height:100%;width:100%;display:table-cell;vertical-align:middle}
.sr-only{display:block;position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}

.alignright{float:right;}
.alignleft{float:left;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;margin:0.5em 0;}


/* responsive tables */
.table-container-outer{position:relative;}
.table-container{overflow:scroll;}

/* image styles */
img.cover{display:block;max-width:100% !important;max-height:100% !important;height:100% !important;width:100% !important;max-width:100%;max-height:100%;height:100%;width:100%;position:relative;object-fit:cover;}
img.contain{max-width:100% !important;max-height:100% !important;height:100% !important;width:100% !important;background:$white;max-width:100%;max-height:100%;height:100%;width:100%;position:relative;object-fit:contain;transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);}
img.img-round{border-radius:50%;}


#PageContainer .wrap {
 overflow: hidden;
 min-width: 320px;
 position: relative;
  max-width: 2048px; 
 margin: 0px auto;
/* background:$white; */
margin: 0 auto;}


.inner{/* padding:0 4%; */margin:0 auto;position:relative;/* z-index: 4; */}
.inner-700{max-width:700px}
.inner-900{max-width:900px}
.inner-narrow{max-width:1170px}
.inner-full-width.col{max-width:100%;padding: 0;}
.inner-wider{max-width:1400px}

.inner-1170 {
 max-width: 1710px;
 width: 100%;
}



/* video ratio */
.videoWrapper{position:relative;padding-bottom:56.25%;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

/* SVG  */
#pageContainer img[src$='.svg']{width:100%;height:auto;}

/* WP - image styles --------------------------- */
img.alignright{float:right;margin:0.5em 0 1em 1em;max-width:36%;border-radius:0 !important;}
img.alignleft{float:left;margin:0.5em 1em 1em 0em;max-width:36%;border-radius:0 !important;}
img.aligncenter{display:block;margin-left:auto !important;margin-right:auto !important;border-radius:0 !important;}


li {
 font-weight: 500;
 padding: 0;
 margin: 0;
line-height: 1.4;}

p {
 font-weight: 500;
 line-height: 1.4;
 margin: 0;
 padding: 0px 0 1rem;
}

p.lead {
 font-size: 1.137em;

}
p.larger{
 font-size: 2.7em;
 font-weight: 500;
 line-height: 1.2;
}

@media (max-width:600px){
 .lead{font-size:1.15em;}
}
strong.lead{font-weight:900;}


ul[style*="text-align:center"]{list-style-position:inside;}
ul.list-unstyled{list-style:none; padding: 0;}
ul.inline{
 list-style:none; padding: 0;display:block !important;
 li{ display:inline-block; padding-right:1em; }
}

/* Colors
--------------------------- */

.yellow{color:#fece06;}
.blue{color:#00adef;}
.red{color:#ed1c24;}
.green{color:#057d62;}
.light{color:$white;}
.dark{color:#2d2d2c;}
.grey{color:#9e9e9e;}


.text-on-dark{background-color:#057d62;color:$white;}
.text-on-dark a{color:$white;}
.text-on-dark .bg-image{background-color:#057d62 }
.text-on-dark .bg-image:before{background-color:#057d62;}


.text-on-light{background-color: #f6f6f4;/* color:#2d2d2c; */}
.text-on-yellow{background-color: #d2db40;/* background-color: #058c6d; */
 /* background-image: linear-gradient(to left, #d2db40 0%, #cdd841 100%); */color:#057d62;}
.text-on-red{background-color:#ed1c24;color:$white;}
.text-on-blue{background-color:$blue;color:$white;}
.text-on-blue hr:before{background-color:$white;}
.text-on-lightblue{background-color:$light-blue;}
.text-on-green{/* background-color:#057d62; */color:$white;background-color: #058c6d;background-image: linear-gradient(to right, #065b47 0%, #058c6d 100%);}
.text-on-green a{color:$white;}
.text-on-green .services li:hover{transform: scale(0.98);background-color: #058c6d;background-image: linear-gradient(0deg, #065b47 0%, #058c6d 100%);box-shadow: 0 0 20px #055b48;}


.text-on-brown{background-color:#795548;color:$white;}
.text-on-grey{background-color: #e5e3d5;/* color:$white; */}






.bg-image:before{content:' ';position:absolute;top:0px;bottom:0;left:0;right:0;width:100%;height:100%;background-size:cover;background-position:center;-webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-ms-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}

/* Image lazy load */
img[data-lazy-src]{opacity:0;}
img.lazyloaded{-webkit-transition:opacity .5s linear 0.2s;-moz-transition:opacity .5s linear 0.2s;transition:opacity .5s linear 0.2s;opacity:1;}

/* anim styles */
.transition, .anim, .top_nav, .bg-image, .logo a, .logo img, .translate{-webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-ms-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.anim_slow{-webkit-transition:all 0.7s ease-out;-moz-transition:all 0.7s ease-out;-ms-transition:all 0.7s ease-out;-o-transition:all 0.7s ease-out;transition:all 0.7s ease-out;transition-delay:0.15s;}

/* Header--------------------------- */
#PageContainer #header{width:100%;position:absolute; z-index:50;top:0;left:0;right:0;min-width:320px;margin:0 auto; padding:2em;}
#PageContainer #header .inner{margin:0 auto;}
#PageContainer #header .logo{margin:0;float:left;font-size:0;line-height:0;color:transparent;position:relative;z-index:31;width:34%;min-width:150px;max-width:34%;display:block;}


/* TOP NAV */
.nav_wrap{}
.top_nav {
  li{padding: 0 0.5em;}
  li a{line-height:2.1;display:inline-block;font-weight:900;text-decoration:none;color: $white; letter-spacing: 0.01em;border-bottom: 2px solid rgb(243 238 237 / 0%);}
  .offcanvas{display:none}
}
@media (max-width:1200px){#header .top_nav li.level0{display:none;}
.top_nav li.tablet, .top_nav li.mobile_nav{display:inline-block;}
}
@media (max-width:767px){#header .top_nav li.tablet{display:none }
.top_nav li.mobile_nav{display:inline-block;}
}

/* drop down */
.top_nav ul{
  display:none;
 li:hover ul{display:block;}
 li:hover ul{display:block;}
 ul:after{content:"";position:absolute;left:50%;top:-8px;width:0;height:0;border-style:solid;border-width:0 10px 8px 10px;border-color: transparent transparent $blue transparent;z-index:-1;}
 ul{list-style:none;position:absolute;z-index:40;width:210px;border-radius:4px;background: #d2db40;left:50%;transform:translateX(-50%);}
 ul li{padding:0 !important;position:relative;margin:0;display:block;/* align-self:auto;*/}
}



#searchBtn{
 vertical-align:bottom;background:none;border:0;
  svg{height:2em; }
}


/* Intro */
#intro{
  background-color: $blue;background-image: linear-gradient(215deg, darken($blue, 8%) 0%, $blue 100%);position: relative; color:$white;
 .intro-copy{ padding-bottom:3em; padding-top:3em; position:relative; z-index:3;}
 .slides{list-style:none;margin:0; padding:0;}
 .bg-color{background:url(../images/textures/texture.png) no-repeat bottom center; background-size:contain; z-index:2; mix-blend-mode:overlay;}
}
@media(max-width: 900px){
  #intro .slides .inner.grid{min-height: 50vh;z-index: auto;}
}


/* bg-image */
.bg-image{
  overflow:hidden;position:absolute;top:0px;bottom:0;left:0;right:0;width:100%;height:100%;
  &:before{content:' ';position:absolute;top:0px;bottom:0;left:0;right:0;width:100%;height:100%;background-size:cover;background-position:center;-webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-ms-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
}



.trip-selector{
  line-height:1.4;
 select {
    letter-spacing: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background: #faf8f0;
    border: 2px solid $blue;
    color: $blue;
   padding:.5em;
    margin:0;
  min-width:200px;
 option {
    font-family: inherit;
    cursor: inherit;
    line-height: inherit
}
 }

 select,&::after {
    grid-area: select
}

 .go_but {
    display: inline-block;
   margin:0;
 vertical-align:bottom;
 padding:.5em 1em;
 line-height:1.3;


 &:hover {
    color: $white;
    background: $blue;
    text-decoration: none

}


}





/* SIDE BY SIDE */
.side-by-side{/* padding:0 !important; */}
.side-by-side .bg-image:before{background-color:transparent !important;}

.side-by-side .inner{max-width:100% !important;}
.side-by-side .col.imgwrap{padding:0;position:relative;}

.side-by-side .lSSlideWrapper{position:absolute;top:0;left:0;width:100%;height:100%;}
.side-by-side.full-gallery .lSSlideWrapper{position:relative;}
.side-by-side.full-gallery .bg-image{width:50%;}
.side-by-side.full-gallery .bg-image:before{background-color:rgb(0 0 0 / .3) !important;z-index:1;}
.side-by-side .gallery_images{height:100% !important;padding-bottom:100% !important;}
.side-by-side .gallery_images li{height:100%;}

.side-by-side .image_holder{padding:0;position:absolute;height:100%;width:100%;}

.side-by-side.curved-image .image_holder,
.side-by-side.curved-image .videoWrapper{border-radius: 50vh 0 0 50vh;overflow: hidden;}


.side-by-side .lSPager{position:absolute;bottom:7px;left:50%;transform:translateX(-50%);z-index:20;}

.side-by-side .col.textwrap{padding: 4%;}
.side-by-side .col.imgwrap img{padding:0;object-fit:cover;width:100%;height:100%;}


.side-by-side .col.textwrap{width:100%;}
.side-by-side.text-on-right .col.textwrap{width:100%;}
.side-by-side .col.textwrap ._inner{/* padding:10vh 0; */}

@media(max-width:1070px){
.side-by-side .image_holder{position:relative;}
.side-by-side .col{min-width:100% !important;}
.side-by-side .col.textwrap ._inner{padding:0vh 0;}
}

/* Tickbox list-style. */

ul.tick-box-list{list-style:none;}
ul.tick-box-list{position:relative;}
ul.tick-box-list li{padding:0;}
ul.tick-box-list li:before{content:'✓';color:#057d62;position:absolute;left:-1em;}

/* FAQS list-style. */

ul.faq_list{list-style:none;padding:0;margin:0;}
.faq_list li{width:100%;padding:0;margin-bottom:1em;position:relative;z-index:1;}
.faq_list li.stack{z-index:2;}
.faq_list li li{width:100%;float:left;padding:0;}
.faq_list li .question{padding:.25em 0em .25em .5em;background-color:rgb(255 255 255 / 30%);border-radius:4px;display:flex;justify-content:space-between;align-items:center;cursor:pointer;font-size:1.37em;box-shadow:0 0 4px rgb(155 89 182 / 30%);}
.faq_list li .question.open{border-radius:4px 4px 0px 0;background-color:#057d62;color:$white;position:relative;z-index:20;}
.faq_list li .question .hamburger{padding: 0px 15px 0;max-width:fit-content;transform: scale(0.6);}
.faq_list li .morecontent{display:none;padding:.5em;border:1px solid rgb(221 221 221 / 50%);border-top:0;background:$white;border-radius:0 0 4px 4px;}



/*
.videocontainer {
 width: 100%;
height: 0;
padding-bottom: 56.25%;
position: absolute;
}
*/
.videocontainer {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 overflow: hidden;
 /* z-index: 0; */
}

video {
 object-fit: cover;
 width: 100%;
 height: 100%;
}

pre {
 padding: 1em;
}

/* Services Grid
--------------------------- */

.content_after {
 padding-top: 20px;
}
.services-grid {}

ul.services-grid .card{
 padding-bottom: 70%;
}
.services-grid.column-4  li.item {
 position: relative;
 width: 25%;
 padding: 0.7em 0.7em 0em;
}
.services-grid.column-3  li.item {
 position: relative;
 width: 33.33%;
 padding: 1em 0.5em;
}
.services-grid.column-2  li.item {
 position: relative;
 width: 50%;
 padding: 1em 0.5em;
 
}


@media (max-width:1170px){
 .services-grid.column-4  li.item{width: 50%;}
  .services-grid.column-3  li.item{width:33.33%;}
  .services-grid.column-2  li.item{width:50%;}
}
@media (max-width:600px){
 .services-grid.column-4  li.item{width:50%;padding: 0.7em .5em 0em;}
  .services-grid.column-3  li.item{width:50%;}
  .services-grid.column-2  li.item{width:100%;}
  ul.services.services-grid{margin: 0 -4% 0 -4%;}
  ul.services.services-grid p{font-size:.7em;}
}

.services-grid .card a.button{position:absolute;top: 50%;left: 50%;float: none;transform: translateX(-50%) !important;z-index: 2;background: none;color: #fff !important;border: 1px solid #fff;opacity: 0 !important;transition-delay: .2s !important;font-size: 12px;padding: 0 0.9em;line-height: 1.8;height: fit-content;}
.services-grid li:hover a.button{opacity:1 !important;}

/* Services Alertnating
--------------------------- */
.services.alternating{}
.services.alternating .altern .background-image img{left:0;top:0;}
.services.alternating .altern.grid-reverse.border-bot:after{transform:scaleX(-1);}
.services.alternating .col.image{align-self:stretch;width:50%;min-width:50%;padding:0;}
.services.alternating .col.text{padding-left:4%;padding-right: 4%;width:60%;}
.services.alternating .grid-reverse .col.text{padding-left: 4%;padding-right:4%;position:relative;z-index:100;}
@media (max-width:1700px){
.services.alternating .grid-reverse .col.text{padding-left:4%;padding-right:11%;}
.services.alternating .col.text{padding-top:1em;padding-bottom:1em;}
.services.alternating .col{}
}
@media (max-width:600px){
.services.alternating .grid-reverse .col.text{padding-left:4%;padding-right:11%;}
.services.alternating .col.text{min-width:100%;padding:3em 3em 1em !important;}
}

/* Services Carousel
--------------------------- */
ul.services{list-style:none;margin:0;padding:0;/* width:100%; *//* margin: 0 -4% 0 -4%; */}
.services li.item{position:relative;padding:0;float:left;}

.services .card{width:100%;padding-bottom:125%;position:relative !important;z-index: 0;}
.services .bg-image:after{background:rgba(0,0,0,.7);opacity:0;top:0;content:' ';width:100%;height:100%;position:absolute;z-index:1;left:0;transition:opacity .3s ease;mix-blend-mode:unset;}
.services .title{position:absolute;height:100%;width:100%;bottom:0;padding:1em;background-image:linear-gradient(360deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 0%),rgb(0 0 0 / 0%));z-index:2;color:$white;}
.services .title h3{text-transform:uppercase;}
.services .card .teaser{margin:0;opacity:0;display:none;transition-duration:1s;-webkit-mask-image:linear-gradient(to bottom, black 75%, transparent 100%);mask-image:linear-gradient(to bottom, black 75%, transparent 100%);width:100%;overflow:hidden;}
.services .teaser p{font-size:.87em;line-height:1.3;}

.services li:hover{transform: scale(0.98);}

.services li:hover article{ /* transform:scale(0.98); */ /* background:red; */}
.services li .heading h3{padding:0;}
.services li:hover article.product .heading{display:none;}
.services li:hover .bg-image:after{opacity: 0.2;}
.services li:hover .card .teaser{opacity:1;display:block;height:100%;padding-top:6em;}

.services.carousel{display:none;}
.services.carousel.slick-initialized{display:block;}
.services.carousel{padding:0;margin:0;list-style:none;overflow:hidden;}
.services.carousel .image_card{position:absolute;}
.services.carousel article.product img{transform:scale(1.02);transition:all ease-in .3s;z-index:1;}




.rows{}
.rows-custom .card{padding-bottom:56%;}
.rows-2.services.carousel .card{padding-bottom:100%;}
.rows-3.services.carousel .card{padding-bottom:100%;}


//.slick-prev:before{background-image:url(../images/icons/caret-left.svg);background-size:70%;}
//.slick-next:before{background-image:url(../images/icons/caret-right.svg);background-size:70%;}

@media (max-width:600px){.services article.product{}
.services.carousel article.product .image_card{padding-bottom:120%;}
.services.carousel article.product .teaser{display:none;}
.services.carousel .details .col{padding:0 .25em !important;margin:.15em 0 !important;}
.services.carousel article.product .details{margin:0;}
.services.carousel article.product .details p{padding:.125em;font-size:13px;}
.services.carousel article.product .title{padding:1em 1em 0;}
.services.carousel article.product h4{}
.services.carousel ul.carousel{margin:0 -5% !important;}
}
.services.carousel .slick-list{padding:0 0% 0 0 !important;overflow:visible;}




.services.tiles li:hover{transform:none;}
.services.tiles .bg-image:after{display:none !important;}


/* Services Slider
--------------------------- */


/* Services Grid
--------------------------- */
.services-grid {}
.services-grid h4{padding-top:1em;}
.services-grid .bg-image:after{ background: rgba(0,0,0,.7);}

/* Services Buttons
--------------------------- */
.services.buttons {list-style:none; padding:0; margin:0;text-align:center;}
.services.buttons li{display:inline-block;}
.services.buttons li a.button{ font-size:14px;}


/* Services Panels
--------------------------- */
.services.panels { }
.services.panels li.item{margin-bottom:.5em;width: 100%;/* border: 10px solid blue; */}
.services.panels li.item .card{padding-bottom:20em;}


/* staff */
ul.staff{}

.staff .card {
 overflow: hidden;
 padding-bottom: 60%;
 margin-bottom: 1em;
 position: relative;
}


.staff .card img {
 display: block;
 position: absolute;

}

.staff .item {
 width: 33.3%;
 float: left;
 padding: 1em;
 /* margin-bottom: 2em; */
}

@media (max-width: 1280px) {
 .staff .item {
	 width: 33.3%;
 }
}

@media (max-width: 800px) {
 .staff .item {
	 width: 50%;
 }
}

@media (max-width: 414px) {
 .staff .tile {
	 width: 100%;
 }
}


/* breadcrumb
--------------------------- */

.rank-math-breadcrumb{color:#ccc;font-size:13px;letter-spacing:0;text-transform:uppercase;font-weight:600;line-height:1;padding:11px 10px 0px;position: absolute;top: auto;z-index: 20;}
.rank-math-breadcrumb p{padding:0;}
.rank-math-breadcrumb:before{vertical-align:top}
.rank-math-breadcrumb a{color:#057d62;text-decoration:none;}
.rank-math-breadcrumb a:hover{}
.breadcrumb_last{}



/* testimonials
--------------------------- */
.testimonials{background: #057d62;}
.testimonials .bg-image {/* background-image: url(../images/colors/gradient_green_blue_vert.png); *//* background-size: cover; */background-color: #058c6d;
 background-image: linear-gradient(to right, #065b47 0%, #058c6d 100%);}
.testimonials .inner { max-width: 100% !important;padding: 0;color: #fff;}

#testimonials_slider {display: none;text-align: center;/* background: red; */}
#testimonials_slider .testimonial_content{padding: 9% 9% 6%;}
.testimonial_content .details{padding-top:1em;}
#testimonials_slider.slick-initialized {display: block;}

@media (max-width:600px){
 .testimonials .inner .col{padding:0;}
}


/* instagram
--------------------------- */

.instagram { background-color: #058c6d;
 background-image: linear-gradient(to right, #065b47 0%, #058c6d 100%);}







/* Tiles 
--------------------------- */
.layout_tiles .col {
 
 padding: 0;
 
}

.layout_tiles .tile_inner {
 
 margin-bottom: 15px;
 background: $white;
 overflow: hidden;
 border-radius: 4px;
}

.layout_tiles .tile_icon {
 margin: 10px auto;
 max-width: 75px;
}

.layout_tiles .tile-copy {
 padding: 1.5em 1em;
}

.layout_tiles h4 {
 margin-top: 0;
 font-size: 1.7em !important;
 
 
 padding: 0;
 
}

@media (max-width: 767px) {
 .layout_tiles .col {
	 min-width: 50%;
	 flex: 1;
 }
}

@media (max-width: 600px) {
 .layout_tiles .col {
	 min-width: 100%;
	 flex: 1;
 }
}

.grid .tile-copy a {
}

.grid .tile-copy {
}

.grid .tile-copy h2 {
}







.grid.column-2 .col {
}

.image_holder {
}

.image_holder {
 padding: .5em;
}

.image_holder:after {
 opacity: 1;
 
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 border-radius: 0;
 top: 0;
 content: ' ';
 
}

.image_holder:hover {
}

.image_holder img {
 position: relative;
 display: block;
 margin: 0 auto;
 /* z-index: -1; */
}

.gallery_images {
 padding: 0;
 list-style: none;
 margin: 0 auto;
}

.gallery_images_wrap .lSSlideWrapper {
 border: 3px solid $white;
}

.gallery_images img {
 max-width: 100% !important;
 max-height: 100% !important;
 height: 100% !important;
 width: 100% !important;
 max-height: 100%;
 position: relative;
 object-fit: cover;
 transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery_images {
}

.col.imgwrap {
}

.col.imgwrap .imgholder {
 position: absolute;
 bottom: 0;
 right: 0;
 width: auto;
 height: 100%;
}

.col.imgwrap a {
 
}

.col.textwrap {
 
}

.text-on-left .col.textwrap {
 
}

.noimgcolp .col.imgwrap {
 padding: 0;
 margin: -2% 0 -2%;
}

.noimgcolp .col.imgwrap .image_holder {
 padding: 0;
}

.abs {
 position: absolute !important;
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
}

.abs:before {
 display: none;
}



a.link-overlay {
 z-index: auto;
 position: absolute !important;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 display: block;
 border: none;
 
z-index: 1;/* background: red; */}


.no-image .imgwrap {
 display: none;
}

.image-show-100 .imgwrap {
 text-align: center;
 display: none;
}

.image-round img {
 border-radius: 50%;
}

.image-round .venobox {
 position: relative;
}

.image-round .venobox:after {
 border-radius: 50%;
}

.image-tall .image_holder {
 padding: 0;
}

.image-tall .imgwrap { 
 
}
.show_overlay .image_holder {
 position: relative;
 display: block;
}

.show_overlay .image_holder:before {
 content: ' ';
 position: absolute;
 z-index: 2;
 width: 100%;
 top: 0;
 height: 100%;
 /* background: url(../images/icons/stars.svg) no-repeat 10% 10%; */
 left: 0;
}

@media (max-width: 599px) {
 .image-show-100 .bg-image {
	 background-size: auto;
	 background-position: top center;
 }

 .location .bg-image {
	 display: none;
 }

 .no-image .background-image:before, .image-show-100 .bg-image:before {
	 background: rgba(0, 0, 0, 0.2);
 }

 .no-image .imgwrap, .image-show-100 .imgwrap {
	 display: inline-block;
 }

 .image-show-100 .imgwrap img {
	 display: inline-block;
	 margin: 0 auto;
 }

 .image-show-100 .textwrap {
	 padding-bottom: 0;
 }

 .unfix-bg-100 .bg-image {
	 background-attachment: initial;
 }
}

.light {
}

/* section border */
.border-top:before,
#intro.border-bot:after,
section.border-top:before,
section.border-top:after{position:absolute;pointer-events:none;position:absolute;height: 100vh;content:' ';width: 15%;top: 0;bottom:auto;z-index: 1;left: auto;right: 0;/*background: url(../images/design/border_top.png) no-repeat top right;*/background-size:100%;}
#intro.border-top:before,
section.border-top:before{top: -12%;}
#intro.border-bot:after,
section.border-bot:after{top:auto; bottom: -12%;width:30%;z-index:auto;/*background: url(../images/design/border_bot.png) no-repeat bottom right;*/background-size:100%;}

@media(max-width:600px){
#intro.border-top:before,
section.border-top:before{width:20%;top:-8%;}
#intro.border-top:after,
section.border-bot:after{width: 20%;bottom: -3%;}
}


/* hide slider till loaded - class removed on load */
.cS-hidden{height:1px;opacity:0;filter:alpha(opacity=0);overflow:hidden;}






/* single post navigation */
.single .navigation{padding:0;display:flex;flex-wrap:nowrap;margin-bottom:0;}
.single .navigation .col{width:50%;text-align:left;padding:0 20px 0;position:relative;border:1px solid rgb(24 142 146 / .05);border:1px solid rgb(24 142 146 / .05);border-left:0;border-bottom:0;}
.single .navigation .col:first-child{}
.single .navigation .col:last-child{padding-left:4%;text-align:right;border-right:0;border-bottom:0;}
.single .navigation .col>span{font-size:11px;text-transform:uppercase;line-height:3;}
.single .navigation .col>span a{color:#057d62;font-weight:600;text-decoration:none;position:relative;}
.icon-right-arrow:after{font-style:normal;content:'\e902';font-family:'feather';display:inline-block;right:0;top:0;color:#057d62;}
.icon-left-arrow:after{content:'\e901';font-style:normal;font-family:'feather';display:inline-block;right:0;top:0;color:#057d62;}
.single .navigation .col .flex{display:flex;align-items:center;}
.single .navigation .col .flex img{width:36px;height:36px;border-radius:50%;}
.single .navigation .col .flex h4{margin:0 0 0 13px;font-size:15px;}
.single .navigation .col .flex h4 span{font-weight:400;}
.single .navigation a{color:#057d62;text-decoration-color:#057d62;text-transform:uppercase;}
.single .navigation a:hover{text-decoration:underline;text-decoration-color:#057d62;}
.single .navigation .col:before{vertical-align:middle;}

@media screen and (max-width:500px){.single .navigation{display:block;}
.single .navigation .col{width:100%;}
.single .navigation .col, .blog .navigation .col:first-child{padding:20px 0 !important;border-right:0 !important;border-bottom:1px solid #e8e8e8;}
.single .navigation .col:last-child{border-bottom:none;}
}


/* Maverick kea footer */

#maverick-logo {
 display: inline-block;
 vertical-align: text-bottom;
 width: 86px;
 height: 30px;
 background-size: cover !important;
 overflow: hidden;
 background: url(../images/logos/kea.png) no-repeat top center;
 &.light{
  background: url(../images/logos/kea-white.png) no-repeat top center;
 }
}

#maverick-logo:hover, #maverick-logo:active {
 background-position: 0 100%;
}

/* BACK to top
-------------------------- */
.back-to-top-wrap{transition:0.3s ease;z-index:50;position:fixed;bottom:15px;right:15px;width:auto;}
a.back-to-top{display:inline-block;text-decoration:none;color:$white;float:right;font-size:0;margin:8px 3px 0px 0;padding:10px;background:#057d62;border-radius:50%;display:none;transition:0.3s ease;}
.back-to-top-wrap img{width:20px;height:20px;}
.back-to-top-wrap:hover{transform:scale(1.2);}





footer{ 
 font-size:18px;
 .inner{padding-top:2em; padding-bottom:2em;}
 .grid.grid-nogutter > .col{ 
   min-width:fit-content; padding: 0 2em 0 0;
  &.nop{padding:0;}
 }
 h4{font-size:1.05em; text-transform:uppercase; margin:0; font-weight:900;}
 ul.menu{
  list-style:none; padding:0; margin:0;
  li a{
   text-decoration:none;color:$white; line-height:2;
   &:hover, &:focus {
    color: $bright-blue;
   } 
  }
 }
 &.alt{
  background:$white;
  ul.menu{
   li{display:inline-block; padding-right:1em;}
   li a{text-decoration:underline; text-underline-offset: 2px; color:$blue;
       &:hover, &:focus {
    color: $bright-blue;
   } 
       }
  }
 }
 &.border-bot{
  background-image:url(../images/design/border-1.svg); background-repeat:no-repeat; background-position:bottom center; background-size:contain;
 }
 .copyright{font-size:14px;}
}



@media(max-width:600px){
  footer .col{min-width:100%; text-align:center;}
}

/* affiliates */

ul.afilliates{
 padding:0; margin:0;
 li{max-width:33.3%; display:inline-block; padding:0 2em 2em 0;} 
 img {width: auto;height: 100px;object-fit: contain;display: block;}
}


/* social links */
p.social-links{display:inline-block;}

p.social-links a:before, p.social-links a:after{display:none;}
p.social-links a{display:inline-block;width:1.5em;height:1.5em;border:1px solid;padding:2px;border-radius:50%;margin:0 2px 0px;background:$blue;border-color:$blue;color:$white;  vertical-align:bottom;}

p.social-links a:hover svg{fill:$blue;}
p.social-links svg{width:100%; fill: $white;height:auto;padding:2px;}

footer p.social-links a{/* background:$white; *//* border-color:$white; */}
footer p.social-links a:hover{background:$bright-blue;transform:scale(1.1);border-color:$bright-blue;}


p.social-links.vert a{display:block; margin:0 0 4px;}

p.social-links{
  &.ghost{
   font-size:1.5em;
   a{ background:$white; border-color:$white; margin-bottom:.5em; }
   svg{fill:$blue;}
  }
}



@media (max-width: 767px) {
 .two_col .col {
	 min-width: 100%;
 }
}
p.copyright {
 font-size: 14px;
}
@media (max-width: 599px) {
 .grid.column-2 .col {
	 width: 95%;
	 text-align: center;
	 float: none;
	 margin: 0 auto;
 }

 .grid.column-2 {
	 display: block;
 }

 .grid.column-2 .image_holder {
	 padding: 1em 2em;
	 max-width: 60%;
	 margin: 0 auto;
 }
}

.layer {
 position: relative;
}

.layer.has-bg-image {color: #fff;}

.col {
 padding: 0px 4%;
}


.layout_gallery img {
 display: block;
 width: 100%;
 height: auto;
}

.layout_gallery .lSSlide li {
 overflow: hidden;
}
.layout_gallery .gallery_caption{color:#ebeae0;text-decoration:none; /* background:rgba(0,0,0,.2); */position:absolute;top:auto;z-index:20;bottom:2em; width: 100%;max-width: 90%; left: 50%;text-align:center;padding:0;transform: translateX(-50%);font-size: 1em;}
.layout_gallery .gallery_caption p{padding: .25em 1em;background: rgba(0,0,0,.2);}
.layout_gallery a.venobox:after{background-image:none !important;}

@media(max-width:600px){
.layout_gallery .gallery_caption{bottom:.5em;}
.layout_gallery .gallery_caption p{font-size:.6em;}
.lSAction {     font-size: .5em; }
}


/* flexible layout styles */
pre.code-display{margin-top:48px;background-color:var(--grey);text-align:left;padding:16px;}
pre.code-display code{font-size:16px}
.half-width{flex:50%;}
.full-width{flex:100%;}
.vheight-default{}
.vheight-25{min-height:25vh;}
.vheight-50{min-height:50vh;}
.vheight-75{min-height:75vh;}
.vheight-90{min-height:90vh;}
.vheight-100{min-height:100vh;}
.vheight-125{min-height:125vh;}
.vheight-150{min-height:150vh;}
.vheight-175{min-height:175vh;}
.vheight-200{min-height:200vh;}
.background_pattern{background-position:bottom center;background-repeat:repeat-x;background-size:contain;background: url(../images/textures/rice-paper.png);}
.background_pattern .bg-image{display:block !important;}
.background_pattern .bg-image:before{content:' ';position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;}
.parallaxParent{overflow:hidden !important;position:relative;}
.parallaxParent.toleft{overflow:visible !important;position:relative;z-index:5;}
.parallaxParent.toright{overflow:visible !important;position:relative;}
.parallaxParent .bg-image{background-size:cover;bottom:0;left:0%;transition:none !important;background-position:top center;}
.parallaxParent.totop .bg-image{height:130%;top:-30%;}
.parallaxParent.tobottom .bg-image{height:130%;top:auto;bottom:-30%;}
.parallaxParent.toleft .bg-image{width:110%;left:auto;right:-10%;}
.parallaxParent.toright .bg-image{width:110%;left:-10%;}
.parallaxParent .bg-image.background-image:before{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.text-50 .col.textwrap{flex:50%;max-width:50%;z-index:12;left:0;}
.text-50 .inner .col{flex:50%;max-width:50%;}
.text-75 .col.textwrap{flex:70%;max-width:70%;}
.text-75 .col.imgwrap{flex:30%;max-width:30%;}
.text-35 .col.textwrap{flex: 44%;max-width: 44%;}
.text-35 .col.imgwrap{flex: 56%;max-width: 56%;}
.text-100 .inner{margin:0 auto;}
.text-100 .col.textwrap{max-width:100%;flex:100%;}
.text-100 .col.imgwrap{max-width:100%;flex:100%;}
.background_gradient.text-on-default.has-bg-image .background-image:before, .background_gradient.text-on-left.has-bg-image .background-image:before{background-color:transparent;background-size:contain;mix-blend-mode:multiply;}
.background_gradient.text-on-right.has-bg-image .background-image:before{background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)) !important;}
.background_gradient.text-on-default.text-on-light.has-bg-image .background-image:before, .background_gradient.text-on-left.text-on-light.has-bg-image .background-image:before{background-color:transparent;background-image:linear-gradient(to left, rgba(0, 0, 0, 0), rgb(246 245 241 / 1)) !important;}
.text-on-right .grid{flex-direction:row-reverse;}
.text-on-right .grid .grid{flex-direction:row;}

@media (max-width:600px){
 .background_gradient.text-on-left .bg-image.background-image:before{background-image:linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)) !important;}
 .background_gradient.text-on-right .bg-image.background-image:before{background-image:linear-gradient(to left, rgba(0, 0, 0, .4), rgba(0, 0, 0, .7));}
 .background_gradient.text-on-default.text-on-light.has-bg-image .background-image:before, .background_gradient.text-on-left.text-on-light.has-bg-image .background-image:before{background-color:transparent;background-image:linear-gradient(to left, rgb(246 245 241 / .6), rgb(246 245 241 / 1)) !important;}
 .col.textwrap, .col.imgwrap{flex:100% !important;max-width:100% !important;}
 .col.textwrap{}
 .col.textwrap ul{text-align:left;}
}




/* Blog
--------------------------- */



/* Blog filter bar --------------------------- */
.layer .blog-filter{ text-align:center;}
.layer .blog-filter .inner{padding:0}
.layer .blog-filter ul{margin:0;padding:0}
.layer .blog-filter ul ul{display:none}
.layer .blog-filter li a,.layer .blog-filter li a.more{text-decoration:none;color:#057d62;text-transform:uppercase;font-weight:700;padding:0 0.9em;line-height:2;font-size:0.76em;display:inline-block;border-radius:2em;margin:0 .25em 0.25em;border: #ffffff 2px solid;background: #ffffff;}
.layer .blog-filter li a:before{display:none}
.layer .blog-filter li{display:inline-block}
.layer .blog-filter li a.more:hover,.layer .blog-filter li a.active,.layer .blog-filter li a:hover{background:$white;border-color:#057d62;color:#057d62;}

@media (max-width:600px){.layer .blog-filter{margin:1em 0;padding:0 !important;}
.layer .blog-filter li a, .layer .blog-filter li a.more{font-size:14px;padding:0 0.5em;/* border:rgb(77 46 128) 2px solid; */}
}





/* Gallery */ 
.gallery_wrap_inner{margin:0 auto;text-align:center;}
.gallery_image_wrap{display:inline-block;position:relative;margin:0 auto;height:100%;width: 100%;}
.gallery_image_wrap img{max-width:100% !important;max-height:100% !important;height:100% !important;width:100% !important;background:$white;max-width:100%;max-height:100%;height:100%;width:100%;display: block;position:relative;object-fit:cover;transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);}
.gallery_wrap_inner .background-image:before{display:none;}
ul.gallery{margin:0;padding:0;list-style:none;}
ul.gallery li{width:33.3%;display:inline-block;position:relative;padding:0;margin:0px;}
ul.gallery.isotope_gallery{text-align:center;justify-content:center;padding-bottom:2em;position: relative;z-index: 0;}
ul.gallery img{display:block;}
ul.gallery a{top:0;display:block !important;height:100%;left:0;position: relative;/* z-index: 1; */}
ul.gallery a:before{position:absolute;width:100%;height:100%;background:rgb(0 0 0 / 60%) url(../images/icons/zoom-in.svg) no-repeat top right;background-size:5em;content:' ';z-index: 1;top:0;left:0;opacity:0;transition:all .3s ease-in-out;}
ul.gallery a:hover:before{opacity:1;}
ul.gallery.gallery-columns-1 li{width:100%;}
ul.gallery.gallery-columns-2 li{width:48%;}
ul.gallery.gallery-columns-3 li{width:33.333%;}
ul.gallery.gallery-columns-4 li{width:25%;padding:0;}
ul.gallery.gallery-columns-5 li{width:20%;/* padding-bottom: 20px; */}
/* columns */
.gallery-columns-2 li:nth-child(2n+1), .gallery-columns-3 li:nth-child(3n+1), .gallery-columns-4 li:nth-child(4n+1), .gallery-columns-5 li:nth-child(5n+1), .gallery-columns-6 li:nth-child(6n+1), .gallery-columns-7 li:nth-child(7n+1), .gallery-columns-8 li:nth-child(8n+1), .gallery-columns-9 li:nth-child(9n+1){
 clear:left;
}
.gallery_credit p{padding:0;margin:0;}
.gallery_credit{position:absolute;max-width:650px;color:$white;z-index:10;bottom:0px;left:0%;text-align:left;font-size:13px;padding:5px 10px;background:rgba(0, 0, 0, .4);}
.gallery_credit h4, .gallery_credit p{margin:0;font-size:13px;line-height:13px;color:inherit;}


@media (max-width:480px){
 .gallery_credit{display:none;}
 ul.gallery.gallery-columns-3 li{width:48%;}
}
ul.gallery{display:flex;flex-wrap:wrap;justify-content:center;}


/* GALLERY - MASONRY */
.masonry{display:flex;flex-wrap:wrap;list-style:none;padding:0;margin:0;}
.masonry li{margin:0;height: 34vh;flex-grow:1;padding:0;min-width: 50%;position: relative;}
.masonry li a{display:block;/* border:1px solid blue; */ position:absolute; width:100%;height:100%;}

.masonry img{height:100%;max-height:100%;min-width:100%;object-fit:cover;vertical-align:bottom;display:block;}
@media (max-aspect-ratio:1/1){
 .masonry li{height:30vh;}
}
@media (max-height:480px){
 .masonry li{height:80vh;}
}
@media (max-aspect-ratio:1/1) and (max-width:480px){
 .masonry{flex-direction:row;}
 .masonry li{height:25vh;width:50%;}
 .masonry img{height:50vh;}
}



