
/*********************
COLORS
*********************/

$alert-yellow:      #ff9600;
$alert-red:         #bf181d;
$alert-green:       #bf181d;
$alert-blue:        #00c2f1;

$black:             #000000;

$white:             #ffffff;

/*  changed to match logo: old/design -$blue: #5EB3E4; */
$blue: #60B3E4;
$deep-purple: #1C0F33;
$light-blue: #D8E1E4;
$bright-blue: #0076be;
/*  changed to match logo: old/design - #7FBC42; */
$green: #80BC42;
$pink: #E60A95;
$orange: #FF9E18;
$light-purple: #524C73;
$red: #D22630;

$light-gray:        #F5F5F5;
$gray:              #333435;
$text-color:        $white;
$meta-gray:         $gray;
$tan:               #f1ebd9;

$link-color:        $green;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
