@font-face {
    font-family: 'Likewise';
    src: url('LikewiseRegular-macrons.woff2') format('woff2'),
        url('LikewiseRegular-macrons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

